{% extends 'main/base.html' %}
{% block mainBlock %}
<br><br><br>
<div class='row'>
    <div class='clo-sm-12'>
        <h4>Upload Data</h4>
        <hr>
    </div>
</div>

<form method='POST' enctype="multipart/form-data"> {% csrf_token %}
<div clas='row'>
    <div class='col-sm-8 form-group'>
        <p>Name : <input class='form-control' name='name' type='text' required></p>
        <p>Description : <textarea class='form-control' name='desc'></textarea></p>
    </div>
    <div class='col-sm-4'>
        <h4>Upload Format</h4>
        <img src='https://cdn.ablebits.com/_img-blog/identify-duplicates/dedupe-table-button.png' width="75%" height="75%">
        <p>The file must contain one row for every record, with first row indicating the name of each column.</p>
    </div>
</div>
<br><br><br>
<p style="position: relative; margin-top: 10px;">Upload File <input type='file' name='file' required></p>
<input type="submit" class='btn btn-block  btn-success'>
</form>

{% endblock %}